<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<table cellspacing="2">
    <tr>
      <td>&#160;</td>
      <th class="group">1</th>
      <th class="group">2</th>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <td>&#160;</td>
      <th class="group">3</th>
      <th class="group">4</th>
      <th class="group">5</th>
      <th class="group">6</th>
      <th class="group">7</th>
      <th class="group">8</th>
      <th class="group">9</th>
      <th class="group">10</th>
      <th class="group">11</th>
      <th class="group">12</th>
      <th class="group">13</th>
      <th class="group">14</th>
      <th class="group">15</th>
      <th class="group">16</th>
      <th class="group">17</th>
      <th class="group">18</th>
      <td>&#160;</td>
    </tr>
  <tr>
    <th class="period">1</th> 
    <td id="cell1">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td id="cell2">&#160;</td>
    <th class="filling">1s</th>
  </tr>
  <tr>
    <th class="period">2</th> 
    <td id="cell3">&#160;</td>
    <td id="cell4">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td colspan="10" rowspan="2" id="info">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="cell5">&#160;</td>
    <td id="cell6">&#160;</td>
    <td id="cell7">&#160;</td>
    <td id="cell8">&#160;</td>
    <td id="cell9">&#160;</td>
    <td id="cell10">&#160;</td>
    <th class="filling">2s&#8211;2p</th>
  </tr>
  <tr>
    <th class="period">3</th> 
    <td id="cell11">&#160;</td>
    <td id="cell12">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td id="cell13">&#160;</td>
    <td id="cell14">&#160;</td>
    <td id="cell15">&#160;</td>
    <td id="cell16">&#160;</td>
    <td id="cell17">&#160;</td>
    <td id="cell18">&#160;</td>
    <th class="filling">3s&#8211;3p</th>
  </tr>
  <tr>
    <th class="period">4</th> 
    <td id="cell19">&#160;</td>
    <td id="cell20">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td id="cell21">&#160;</td>
    <td id="cell22">&#160;</td>
    <td id="cell23">&#160;</td>
    <td id="cell24">&#160;</td>
    <td id="cell25">&#160;</td>
    <td id="cell26">&#160;</td>
    <td id="cell27">&#160;</td>
    <td id="cell28">&#160;</td>
    <td id="cell29">&#160;</td>
    <td id="cell30">&#160;</td>
    <td id="cell31">&#160;</td>
    <td id="cell32">&#160;</td>
    <td id="cell33">&#160;</td>
    <td id="cell34">&#160;</td>
    <td id="cell35">&#160;</td>
    <td id="cell36">&#160;</td>
    <th class="filling">4s&#8211;3d&#8211;4p</th>
  </tr>
  <tr>
    <th class="period">5</th> 
    <td id="cell37">&#160;</td>
    <td id="cell38">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td id="cell39">&#160;</td>
    <td id="cell40">&#160;</td>
    <td id="cell41">&#160;</td>
    <td id="cell42">&#160;</td>
    <td id="cell43">&#160;</td>
    <td id="cell44">&#160;</td>
    <td id="cell45">&#160;</td>
    <td id="cell46">&#160;</td>
    <td id="cell47">&#160;</td>
    <td id="cell48">&#160;</td>
    <td id="cell49">&#160;</td>
    <td id="cell50">&#160;</td>
    <td id="cell51">&#160;</td>
    <td id="cell52">&#160;</td>
    <td id="cell53">&#160;</td>
    <td id="cell54">&#160;</td>
    <th class="filling">5s&#8211;4d&#8211;5p</th>
  </tr>
  <tr>
    <th class="period">6</th> 
    <td id="cell55">&#160;</td>
    <td id="cell56">&#160;</td>
    <td id="cell57">&#160;</td>
    <td id="cell58">&#160;</td>
    <td id="cell59">&#160;</td>
    <td id="cell60">&#160;</td>
    <td id="cell61">&#160;</td>
    <td id="cell62">&#160;</td>
    <td id="cell63">&#160;</td>
    <td id="cell64">&#160;</td>
    <td id="cell65">&#160;</td>
    <td id="cell66">&#160;</td>
    <td id="cell67">&#160;</td>
    <td id="cell68">&#160;</td>
    <td id="cell69">&#160;</td>
    <td id="cell70">&#160;</td>
    <td id="cell71">&#160;</td>
    <td id="cell72">&#160;</td>
    <td id="cell73">&#160;</td>
    <td id="cell74">&#160;</td>
    <td id="cell75">&#160;</td>
    <td id="cell76">&#160;</td>
    <td id="cell77">&#160;</td>
    <td id="cell78">&#160;</td>
    <td id="cell79">&#160;</td>
    <td id="cell80">&#160;</td>
    <td id="cell81">&#160;</td>
    <td id="cell82">&#160;</td>
    <td id="cell83">&#160;</td>
    <td id="cell84">&#160;</td>
    <td id="cell85">&#160;</td>
    <td id="cell86">&#160;</td>
    <th class="filling">6s&#8211;4f&#8211;5d&#8211;6p</th>
  </tr>
  <tr>
    <th class="period">7</th> 
    <td id="cell87">&#160;</td>
    <td id="cell88">&#160;</td>
    <td id="cell89">&#160;</td>
    <td id="cell90">&#160;</td>
    <td id="cell91">&#160;</td>
    <td id="cell92">&#160;</td>
    <td id="cell93">&#160;</td>
    <td id="cell94">&#160;</td>
    <td id="cell95">&#160;</td>
    <td id="cell96">&#160;</td>
    <td id="cell97">&#160;</td>
    <td id="cell98">&#160;</td>
    <td id="cell99">&#160;</td>
    <td id="cell100">&#160;</td>
    <td id="cell101">&#160;</td>
    <td id="cell102">&#160;</td>
    <td id="cell103">&#160;</td>
    <td id="cell104">&#160;</td>
    <td id="cell105">&#160;</td>
    <td id="cell106">&#160;</td>
    <td id="cell107">&#160;</td>
    <td id="cell108">&#160;</td>
    <td id="cell109">&#160;</td>
    <td id="cell110">&#160;</td>
    <td id="cell111">&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
    <th class="filling">7s&#8211;5f&#8211;6d</th>
  </tr>
</table>
</body></html>