div.dialog-frame {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	-webkit-box-shadow: 5px 5px 5px #888888;
	-moz-box-shadow: 5px 5px 5px #888888;
	box-shadow: 5px 5px 5px #888888;
}

div.dialog-header {
	position: relative;
	background-color: #000066;
	text-align: center;
	height: 1.7em;
}

div.dialog-title {
	font: bold 16px "Georgia", "Times New Roman", Times, serif;
	padding: 3px;
	color: #FFFFFF;
}

div.dialog-head-icons {
	position: absolute;
	right: 5px;
	top: 5px;
}

div.dialog-content {
	padding: 6px;
}

div.dialog-content h1 {
	font-weight: bold;
	margin: 5px 0px 0px 3px;
	font-size: 100%;
}

div.dialog-content p {
	margin: 3px 0px 3px 0px;
}

div.dialog-footer {
	padding: 0px 3px 3px 3px;
	text-align: center;
}

button.dialog-bitbtn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
	cursor: pointer;
}

input.dialog-button {
	margin: 3px;
	font-size: 100%;
	cursor: pointer;
}

select.dialog-select {
	border: 1px solid #000000;
	margin-bottom: 5px;
}

table.dialog-grid {
	border-collapse: collapse;
}

table.dialog-grid td, table.dialog-grid th {
	vertical-align: baseline;
}

td.dialog-label {
	padding-right: 3px;
	text-align: right;
	white-space: nowrap;
}

td.dialog-input {
	padding: 3px 0px 3px 0px;
	text-align: left;
	width: 100%;
}

td.dialog-input input.dialog-edit {
	margin: 0px;
}

div.dialog-list, div.dialog-list-border {
	margin: 0px;
}

div.dialog-list-border {
	border: 1px solid #000000;
}

div.dialog-list-item img {
	margin-left: 0.6em;
}

label.dialog-label {
	cursor: pointer;
}

div.dialog-list h1, div.dialog-list-border h1 {
	cursor: pointer;
	font-weight: bold;
	margin: 5px 0px 0px 3px;
	font-size: 100%;
}

input.dialog-check {
	margin: 3px;
}

input.dialog-radio {
	margin: 3px;
}

span.dialog-label-check {
	white-space: nowrap;
}

input.dialog-edit {
	margin: 3px;
}

input.dialog-edit:focus {
	box-shadow: 0px 0px 5px #4195fc;
	-moz-box-shadow: 0px 0px 5px #4195fc;
	-webkit-box-shadow: 0px 0px 5px #4195fc;
}

textarea.dialog-textarea {
	margin: 0px;
}

img.dialog-icon {
	vertical-align: text-bottom;
}

hr.dialog-rule {
	border: 0px;
	color: #000000;
	background-color: #000000;
	height: 1px;
}

div.dialog-tooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 1px 4px 1px 4px;
	display: none;
	background-color: #FFFF99;
	border: 1px solid #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	max-width: 25em;
}

div.dialog-hider {
	position: fixed;
    padding: 0px;
    margin: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #FFF;
}