html, body, #chart {
	height: 100%;
	min-width: 400px;
	min-height: 300px;
}

body, table, .tickLabel, .legendLabel {
	font: 14pt Arial, Helvetica, sans-serif;
}

#plot {
	flex-grow: 1;
}

#xlabel {
	height: 1em;
	text-align: center;
}

#container {
	height: 95%;
	display: flex;
	flex-direction: column;
}

#tooltip {
	font-size: 150%;
	border: '1px solid #bfbfbf';
	padding: '2px';
	background-color: '#ffffff';
	opacity: 1;
}